# Node Modules & Build Output
node_modules/
dist/

# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
tasme_ai/
tasmee_ai/
Lib/
Scripts/
Include/
pyvenv.cfg

# SQLite Database
*.db
*.sqlite3

# Audio Temp Files
*.wav
*.mp3

# IDE / OS / Logs
.vscode/
.idea/
.DS_Store
*.log

# Environment Variables
.env
.env.*
!.env.example

# Ignore data and audio folders
data/
audio/
others/
quran_pages
dist_release